<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/skeleton.css">
    <title><%=budgetData.name%></title>
</head>
<body>
    <div class="container"></div>
    <h1><%=budgetData.name%></h1>
    <a href="/budgets"><button>Back</button></a>
    <table>
            <p>Date: <%=budgetData.date%></p>
            <p>Name: <%=budgetData.name%></p>
            <p>From: <%=budgetData.from%></p>
            <p>Amount: $<%=budgetData.amount%></p>
            <p>Tags: <%=budgetData.tags%></p>
    </table>
</body>
</html>