<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>

    <body>
            <h2><%=data.name%></h2>
            <img src="<%=data.img%>" alt="Picture of <%=data.name%>">
            <h4 class="headerText">Types:</h4>
            <ul class="bodyText">
                <% const type = data.type %>
                <% for(let j=0; j < type.length; j++) { %>
                <li class="bodyText"><%=type[j]%></li> 
                <% } %>
            </ul>
            <br>
                <p class="headerText"><strong>Health:</strong> <span class="bodyText"><%=data.stats.hp%></span></p>
                <p class="headerText"><strong>Attack:</strong> <span class="bodyText"><%=data.stats.attack%></span></p>
                <p class="headerText"><strong>Defense:</strong> <span class="bodyText"><%=data.stats.defense%></span></p>
                <br>
                <a href="/pokemon/<%=index%>/edit"><button>Update Pokemon</button></a>
                <a href="/pokemon"><button>Back to Pokedex's</button></a>
                <form action="/pokemon/<%=index%>?_method=DELETE" method="post">
                    <input type="submit" value="Delete Pokemon">
                </form>
        </body>
        <style>
            body {
                color: yellow;
                text-align: center;
                border: 3px solid yellow;
            }


            h2 {
                font-size: 50px;
            }

            img {
                border: 5px solid yellow;
            }

            button {
                background-color: yellow;
                border-radius: 11px;
                padding: 15px 18px;
                margin: 5px 5px 20px 5px;
            }

            ul {
                display: inline;
                padding-inline-start: 5px;
            }

            input {
                background-color: red;
                border-radius: 11px;
                padding: 15px 18px;
                margin: 5px 5px 20px 5px;
            }

            .headerText {
                color: greenyellow;
                font-size: 25px;
                margin: 5px;
            }
            
            .bodyText {
                font-size: 25px;
                margin: 5px;
                color: orange;
            }

        </style>

</html>